/* --- Mobile Menu -- */

.mobileMenu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-color: black;
  opacity: 0.9;
}

.mobileMenu ul {
  color: white;
  list-style: none;
  margin: 5rem;
  font-weight: 100;
  font-size: 3rem;
  line-height: 4rem;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  background-color: white !important;
}
